/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
html h1 {
  font-size: 5rem;
}
html p {
  font-size: 2rem;
}
html a {
  font-size: 1.5rem;
}
#header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: dodgerblue;
  color: #fff;
  height: 100%;
  position: fixed;
  text-align: right;
  width: 15%;
  padding: 2% 1%;
  border: solid black;
}
@media (max-width: 500px) {
  #header {
    flex-direction: row;
    width: 100%;
    height: 10%;
    padding: 1%;
  }
}
#header .top {
  border: solid black;
  height: 50%;
}
@media (max-width: 500px) {
  #header .top {
    flex-direction: row;
    align-items: flex-start;
    width: 80%;
  }
}
#header .top #logo {
  padding: 2%;
  border: solid black;
}
@media (max-width: 500px) {
  #header .top #logo {
    align-items: flex-start;
    width: 25%;
    height: 10%;
    padding: 0;
  }
}
#header .top #logo h1 {
  color: #fff;
  font-weight: 600;
  font-size: 3rem;
  line-height: 1em;
  border: solid black;
}
@media (max-width: 500px) {
  #header .top #logo h1 {
    font-size: 2rem;
    text-align: left;
  }
}
#header .top #logo p {
  position: relative;
  display: block;
  color: #fff;
  border: solid black;
}
@media (max-width: 500px) {
  #header .top #logo p {
    font-size: 1.5rem;
    text-align: left;
    align-content: flex-start;
  }
}
#header .top #logo i {
  font-size: 2.5rem;
  border: solid black;
}
@media (max-width: 500px) {
  #header .top #logo i {
    display: none;
  }
}
#header .top #nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30%;
  margin-top: 10%;
  padding: 2%;
  border: solid black;
}
@media (max-width: 500px) {
  #header .top #nav {
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    font-size: 1.25rem;
  }
}
#header .top #nav a {
  color: #fff;
  text-decoration: none;
  padding: 2% 0;
  border: solid black;
}
@media (max-width: 500px) {
  #header .top #nav a {
    font-size: 1.25rem;
  }
}
#header .bottom {
  border: solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 20%;
}
@media (max-width: 500px) {
  #header .bottom {
    align-items: flex-end;
    justify-content: center;
    padding: 2%;
  }
}
#header .bottom a {
  color: gainsboro;
  text-decoration: none;
  border: solid black;
}
@media (max-width: 500px) {
  #header .bottom a {
    font-size: 1.25rem;
  }
}
#header .bottom a:hover {
  color: #fff;
}
body {
  display: flex;
  background-color: #b7dbff;
  height: 100vh;
}
@media (max-width: 500px) {
  body {
    flex-direction: row;
  }
}
body #main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: 15%;
  width: 85%;
  height: 100%;
  background-size: cover;
  border: solid black;
}
@media (max-width: 500px) {
  body #main {
    margin: 0;
    width: 100%;
  }
}
body #main #top {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  border: solid black;
}
body #main #top h1 {
  width: 100%;
  padding: 5% 0;
  color: dodgerblue;
  border: solid black;
}
body #main #top .transbox {
  opacity: 0.3;
  border: solid black;
}
body #main #top .transbox p {
  width: 85%;
  padding: 5% 0;
  border-radius: 10px;
  background-color: gainsboro;
  color: dodgerblue;
}
body #main #top .button {
  text-decoration: none;
  color: #fff;
  background-color: dodgerblue;
  padding: 1%;
  border-radius: 10px;
  margin: 2% 0 5% 0;
}
#about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
}
#about h1 {
  padding: 5% 0;
  color: dodgerblue;
}
#about p {
  width: 85%;
  padding: 5% 0;
  border-radius: 10px;
  background-color: gainsboro;
  color: dodgerblue;
}
#about .button {
  text-decoration: none;
  color: #fff;
  background-color: dodgerblue;
  padding: 1%;
  border-radius: 10px;
  margin: 2% 0 5% 0;
}
