/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
html h1 {
  font-size: 5rem;
}
html p {
  font-size: 2rem;
}
html a {
  font-size: 1.5rem;
}
#main {
  margin-left: 15%;
  margin: 0;
  padding: 4em 0;
  text-align: center;
  color: #fff;
}
#header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: dodgerblue url("images/overlay.png");
  color: #fff;
  height: 100%;
  left: 0;
  position: fixed;
  text-align: right;
  top: 0;
  width: 15%;
}
#header .top {
  flex-grow: 1;
}
#header .bottom {
  flex-shrink: 0;
  padding: 1.5em 0 0.75em 0;
}
#header .bottom > :last-child {
  margin-bottom: 0;
}
#header .icons {
  text-align: center;
}
#header .icons a {
  color: lightblue;
}
#header .icons a:hover {
  color: #fff;
}
#logo {
  position: relative;
  margin: 1.75em 1.5em 1.5em 1.5em;
  min-height: 48px;
}
#logo h1 {
  position: relative;
  color: #fff;
  font-weight: 600;
  font-size: 3rem;
  line-height: 1em;
}
#logo p {
  position: relative;
  display: block;
  color: #fff;
  margin: 0.5em 0 0 0;
}
#logo i {
  font-size: 2.5rem;
}
#nav ul li a {
  display: block;
  padding: 0.5em 1.5em 0.5em 1.5em;
  color: #fff;
  text-decoration: none;
  outline: 0;
  border: 0;
}
#nav ul li a span {
  position: relative;
  display: block;
}
#nav ul li a span:before {
  position: absolute;
  color: #fff;
  text-align: center;
}
