#header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: dodgerblue url("images/overlay.png");
  color: #fff;
  height: 100%;
  left: 0;
  position: fixed;
  text-align: right;
  top: 0;
  width: 15%;
}

#header .top {
  flex-grow: 1;
}

#header .bottom {
  flex-shrink: 0;
  padding: 1.5em 0 0.75em 0;
}

#header .bottom > :last-child {
  margin-bottom: 0;
}

#header .icons {
  text-align: center;
}

#header .icons a {
  color: lightblue;
}

#header .icons a:hover {
  color: #fff;
}

#logo {
  position: relative;
  margin: 1.75em 1.5em 1.5em 1.5em;
  min-height: 48px;
}

#logo h1 {
  position: relative;
  color: #fff;
  font-weight: 600;
  font-size: 3rem;
  line-height: 1em;
}

#logo p {
  position: relative;
  display: block;
  color: #fff;
  margin: 0.5em 0 0 0;
}

#logo i {
  font-size: 2.5rem;
}

#nav ul li a {
  display: block;
  padding: 0.5em 1.5em 0.5em 1.5em;
  color: #fff;
  text-decoration: none;
  outline: 0;
  border: 0;
}

#nav ul li a span {
  position: relative;
  display: block;
}

#nav ul li a span:before {
  position: absolute;
  color: #fff;
  text-align: center;
}
