#header {
  @media @mobile {
    flex-direction: row;
    width: 100%;
    height: 10%;
    padding: 1%;
    position: relative;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: @siteBlue;
  color: @siteWhite;
  height: 100%;
  position: fixed;
  text-align: right;
  width: 15%;
  padding: 2% 1%;

  .top {
    @media @mobile {
      flex-direction: row;
      align-items: flex-start;
      width: 80%;
      height: 100%;
    }
    height: 50%;

    #logo {
      @media @mobile {
        align-items: flex-start;
        width: 25%;
        height: 10%;
        padding: 0;
      }

      padding: 2%;

      h1 {
        @media @mobile {
          text-align: left;
        }

        @media @tablet {
          font-size: 2rem;
        }

        color: @siteWhite;
        font-weight: 600;
        font-size: 3rem;
        line-height: 1em;
      }

      p {
        @media @mobile {
          text-align: left;
          align-content: flex-start;
          padding-top: 10%;
        }

        @media @tablet {
          font-size: 1.5rem;
        }
      }

      i {
        @media @mobile {
          display: none;
        }

        font-size: 2.5rem;
      }
    }

    #nav {
      @media @mobile {
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        margin-top: 0;
      }

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 30%;
      margin-top: 10%;
      padding: 2%;

      a {
        @media @tablet {
          font-size: 1.25rem;
          padding: 0 3%;
        }

        color: @siteGrey;
        text-decoration: none;
        padding: 2% 0;
      }

      a:hover {
        color: @siteWhite;
      }
    }
  }

  .bottom {
    @media @mobile {
      align-items: flex-end;
      justify-content: center;
      padding: 2%;
    }

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20%;

    a {
      @media @mobile {
        font-size: 1.25rem;
        padding: 5% 0;
      }

      color: @siteGrey;
      text-decoration: none;
      padding: 2%;
    }

    a:hover {
      color: @siteWhite;
    }
  }
}
