#header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: dodgerblue;
  color: #fff;
  height: 100%;
  position: fixed;
  text-align: right;
  width: 15%;
  padding: 2% 1%;

  .top {
    #logo {
      position: relative;
      padding: 2%;

      h1 {
        position: relative;
        color: #fff;
        font-weight: 600;
        font-size: 3rem;
        line-height: 1em;
      }

      p {
        position: relative;
        display: block;
        color: #fff;
      }

      i {
        font-size: 2.5rem;
      }
    }

    #nav {
      margin-top: 10%;
      padding: 2%;
      a {
        display: block;
        color: #fff;
        text-decoration: none;
        position: relative;
        display: block;
        padding: 2% 0;
      }
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20%;

    a {
      color: lightblue;
    }

    a:hover {
      color: #fff;
    }
  }
}
